@import '../../../services/mixins.scss';

.Multipliers {
  list-style: none;
  margin: 0;
  padding: 0;
  @include fl-jc(space-between);
}

.Multipliers__items {
  width: 25%;
  flex-grow: 1;
  // display: flex;
}