@import '../../services/mixins.scss';

.AppHeader {
  position: relative;
  margin-bottom: 45px;
}

.AppHeader__muteButtonContainer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.AppHeader {
  @include fl-col-jc(center);
  font-size: calc(10px + 2vmin);
}

@include phone_tablet {
  .AppHeader {
    margin-bottom: 25px;
  }
}

@media (max-height: 695px) {
  .AppHeader {
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .AppHeader__muteButtonContainer {
    top: 90%;
  }
}